body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
  }
.solar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url('https://img.pikbest.com/wp/202345/real-estate-house-property-digital-depiction-of-a-website-featuring-an-isolated-3d-representing-residential-symbolizing-online-selling-agency-with-cottage-concept-in-rendering-web-page-illustration_9615825.jpg!bw700'); /* Add your image URL */
    background-size: cover;
    background-position: center;
    height: 100vh;
    padding: 20px;
}
.right-side{
    flex: 1;
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    max-width: 400px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  .highlight {
    color: #0077cc;
    text-decoration: underline;
  }

  .form-bar{
    display: flex;
    flex-direction: column;

  }
  .form-bar input[type='text'] {
    padding: 10px;
    margin-bottom: 20px;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  .form-bar label {
    font-size: 0.9rem;
    margin-bottom: 20px;
    color: #555;
  }
  .form-bar button {
    background-color: #0077cc;
    color: white;
    padding: 12px;
    font-size: 1.1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .right-side h2 {
    font-size: 1.5rem;
    color: #333;
  }
  .right-side p {
    color: #555;
    margin-top: 10px;
    margin-bottom: 30px;
  }
  .form-bar button {
    background-color: #0077cc;
    color: white;
    padding: 12px;
    font-size: 1.1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .form-bar button:hover {
    background-color: #005fa3;
  }